.root{
    
    .searchFestival {
        background-color: rgb(206, 206, 206);
        width: 100%;
        padding-top: 10px;
        
        .region {
            display: flex;
            justify-content: center;
            .regionOption{
                padding-left: 30px;

                select{
                width: 100px;
                }
            }
        }
        .classify {
            display: flex;
            justify-content: center;
            padding-top: 10px;
            .classfyOption{
                padding-left: 30px;

                select{
                width: 100px;
                }
            }
        }
        .searchFinish{
            display: flex;
            justify-content: center;
            padding-top: 10px;
            
            button {
                background-color: rgb(154, 154, 249);
                width: 100px;
                height: 25px;
                border-radius: 20px;
                
            }
        }
    }
    .listFlex{
        display: flex;
        justify-content: center;
        .festivalList{
            
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-top: 20px;
            padding-bottom: 20px;
            .item {
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
                .FestivalImage{
                    display: flex;
                    justify-content: center;
                    width: 200px;
                    height: 200px;
                }
                .FestivalDetail{
                    background-color: rgb(185, 193, 193);
                }
                
            }
        }
    }
}

